<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <div class="container-fluid w-100 px-0">
    <div class="row">
      <div class="col-3">

        <div *ngIf="user" class="user-menu" ngbDropdown>
          <span class="navbar-text text-nowrap dropdown-toggle profile-name" ngbDropdownToggle>
            <img [src]="user?.avatar" alt="Avatar"
                 class="profile-image"
            /> <span class="hidden-sm-down">{{ user?.name }}</span> <span class="caret"></span>
          </span>

          <div class="dropdown-menu" ngbDropdownMenu>
            <div class="dropdown-menu-item text-center">
              <app-language></app-language>
            </div>
            <div class="dropdown-menu-item">
              <button (click)="logout()" class="dropdown-item">{{'HEADER.LOGOUT' | translate}}</button>
            </div>
          </div>
        </div>

        <img
          *ngIf="!user"
          src="../../assets/images/brand/thecloud-console.png"
          alt="TheCloud Console"
        />
      </div>

      <div class="col-6 text-center current-namespace my-auto">
        <span *ngIf="isProjectContextual" class="text-primary text-nowrap">{{namespace}}</span>
      </div>

      <div class="col-3" *ngIf="user">
        <app-namespaces-autocomplete></app-namespaces-autocomplete>
      </div>
    </div>
  </div>
</nav>
