<div class="card card-news box-shadow">
  <div class="card-block">

    <div class="card-title">
      <img src="../../../../../assets/images/widgets/news.svg" alt="Journal" height="25" class="mr-1"/>
      {{'WIDGETS_TITLE.NEWS' | translate}}
    </div>

    <app-loading [isLoading]="isLoading"></app-loading>

    <div *ngFor="let news of recentNews; let isLast = last" class="mb-2">
      <!-- Title -->
      <div class="text-primary">{{news.title}}</div>

      <!-- Synopsis -->
      <div class="card-text-content">{{news.synopsis}}</div>

      <!-- Created at -->
      <div class="row">
        <div class="col-6">
          <small class="text-muted">{{news.createdAt | amTimeAgo:false}}</small>
        </div>
        <div class="col-6 text-right">
          <small [hidden]="collapseStates[news.id]">
            <button class="btn btn-xs btn-link" type="button" (click)="collapseStates[news.id] = !collapseStates[news.id]">
              <span class="icon-arrows-down-double"></span> {{'ACTIONS.READ_MORE' | translate }}
            </button>
          </small>
        </div>
      </div>

      <!-- News text -->
      <div id="news_{{news.id}}" class="collapse"
           [ngbCollapse]="!collapseStates[news.id]"
           [innerHTML]="news.text | MarkdownToHtml">
      </div>

      <div class="text-right">
        <small [hidden]="!collapseStates[news.id]">
          <button class="btn btn-xs btn-link" type="button" (click)="collapseStates[news.id] = !collapseStates[news.id]">
            <span class="icon-arrows-up-double-33"></span> {{'ACTIONS.READ_LESS' | translate }}
          </button>
        </small>
      </div>

      <!-- delimiter -->
      <hr *ngIf="!isLast"/>
    </div>

  </div>
</div>
