<div class="row">
  <div class="col-md-6 h-100">
    <!-- Status -->
    <app-cloud-status></app-cloud-status>

    <div class="row h-100">
      <div class="col-md-4 h-100">
        <!-- Developers Count -->
        <app-metric-count [title]="'developers'" [type]="'developers'" [icon]="'developer'"></app-metric-count>
      </div>

      <div class="col-md-4 h-100">
        <!-- Users Count -->
        <app-metric-count [title]="'users'" [type]="'users'" [icon]="'user'"></app-metric-count>
      </div>

      <div class="col-md-4 h-100">
        <!-- Deployments Count -->
        <app-deployments-count></app-deployments-count>
        <!--<app-metric-count [title]="'deployments'" [type]="'deployments'" [icon]="'3d'"></app-metric-count>-->
      </div>
    </div>
    <!-- Resources -->
    <app-nodes-resources></app-nodes-resources>
  </div>

  <!-- News -->
  <div class="col-md-6 h-100">
    <app-news></app-news>
  </div>
</div>
