<form [formGroup]="formGroup">
  <div class="row">
    <!-- dns -->
    <div class="col-md-12">
      <label>Custom DNS</label>

      <div class="row mb-2 form-group"
           [class.has-success]="hasSuccess(type)"
           [class.has-warning]="hasWarning(type)"
           *ngFor="let type of types;">
        <div class="input-group col-md-6">
          <span class="input-group-addon" style="border-right: none;">
            <!-- dns enabled/disabled -->
            <input type="checkbox" (click)="onTypeStateChange(type, $event.target.checked)">
          </span>

          <!-- dns name -->
          <input type="text" class="form-control"
                 [formControlName]="type"
                 [class.form-control-success]="hasSuccess(type)"
                 [class.form-control-warning]="hasWarning(type)">
          <!-- loading in input -->
          <app-loading [isLoading]="isLoading(type)" size="xs" class="is-loading"></app-loading>
          <span class="input-group-addon" style="border-left: none;">{{type | lowercase}}</span>
        </div>
      </div>
    </div>
  </div>
</form>
