<div class="card h-100 box-shadow">
  <div class="card-block">

    <div class="card-title">
      <img src="../../../../../../assets/images/widgets/chip.svg" alt="Chip" height="25" class="mr-1"/>
      {{'WIDGETS_TITLE.NAMESPACE_RESOURCES' | translate}}

      <app-loading [isLoading]="isLoading" class="pull-right"></app-loading>
    </div>

    <div class="row">
      <div *ngFor="let resource of resources" class="col-md-6 px-0 mb-md-3" style="max-height: 200px">
        <div class="text-center">
          {{resource.type | uppercase}}
          <span *ngIf="resource.type === 'memory';">(in MB)</span>
          <span *ngIf="resource.type === 'cpu'">(in cores)</span>
        </div>

        <ngx-charts-bar-vertical-stacked
          [results]="resource.data"
          [gradient]="false"
          [customColors]="clustersColors"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [showGridLines]="true">
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>

  </div>
</div>
